<a href="https://colab.research.google.com/github/al-josvan/W22---Data-Analytics-Microcredential/blob/main/day3_collection_data_types_and_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Dictionaries

In [ ]:
patient_1 = {'first_name': 'John', 'last_name': 'Kimble'}

In [ ]:
print(patient_1['first_name'])
print(patient_1['last_name'])

John
Kimble

In [ ]:
patient_name = patient_1['first_name']
print('Hello there, ' + patient_name)

Hello there, John

In [ ]:
patient_1['MRN'] = '000000000'
patient_1['Last_exam'] = 'echo'
patient_1

{'Last_exam': 'echo',
 'MRN': '000000000',
 'first_name': 'John',
 'last_name': 'Kimble'}

In [ ]:
patient_2 = {}
patient_2['first_name'] = 'Jean'
patient_2['last_name'] = 'Picard'
print(patient_2)

{'first_name': 'Jean', 'last_name': 'Picard'}

In [ ]:
patient_2['MRN'] = '000000001'
patient_2['Last_exam'] = 'mammogram'
patient_2['Allergies'] = 'penecilin'
patient_2

{'Allergies': 'penecilin',
 'Last_exam': 'mammogram',
 'MRN': '000000001',
 'first_name': 'Jean-Luc',
 'last_name': 'Picard'}

In [ ]:
patient_2['first_name'] = 'Jean-Luc'
print(patient_2)

{'first_name': 'Jean-Luc', 'last_name': 'Picard', 'MRN': '000000001', 'Last_exam': 'mammogram', 'Allergies': 'penecilin'}

In [ ]:
del patient_2['Allergies']
print(patient_2)

{'first_name': 'Jean-Luc', 'last_name': 'Picard', 'MRN': '000000001', 'Last_exam': 'mammogram'}

In [ ]:
print('Patient_2\'s last exam was: ' + patient_2['Last_exam'])

Patient_2's last exam was: mammogram

In [ ]:
#Important: pull last 4 values of the string 
print(f'Patient_2\'s patient identifer is: {patient_2["MRN"][-4:]}')

Patient_2's patient identifer is: 0001

#Nesting with Dictionaries

In [ ]:
#Dictionary nested inside a dictioanry inside a dictionary
d = {'key1':{'nestkey':{'subkey':'value'}}}

#Dictionary Methods

In [ ]:
# Create a typical dictionary
d = {'key1':1,'key2':2,'key3':3}

In [ ]:
# Method to return a list of all keys 
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [ ]:
# Method to grab all values
d.values()

dict_values([1, 2, 3])

In [ ]:
# Method to return tuples of all items  (we'll learn about tuples soon)
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

# For Loops

In [43]:
for x in 'CUNY':
  print(x)

C
U
N
Y

In [49]:
tv_shows = ['Game of Thrones', 'Star Trek', 'Stranger Things']

In [50]:
for i in tv_shows:
  print(i)

Game of Thrones
Star Trek
Stranger Things

In [53]:
for show in tv_shows:
  print(show.title() + ', is one of my favorite TV shows!')

Game Of Thrones, is one of my favorite TV shows!
Star Trek, is one of my favorite TV shows!
Stranger Things, is one of my favorite TV shows!

In [65]:
fruits = ['Apples', 'Banannas', 'Cherries', 'Durian', 'Elderberries', 'Figs', 'Gooseberies', 'Huckleberries']
for i in fruits:
  print(i.title() + ' are my favorite, that being said I really would try anything.')

Apples are my favorite, that being said I really would try anything.
Banannas are my favorite, that being said I really would try anything.
Cherries are my favorite, that being said I really would try anything.
Durian are my favorite, that being said I really would try anything.
Elderberries are my favorite, that being said I really would try anything.
Figs are my favorite, that being said I really would try anything.
Gooseberies are my favorite, that being said I really would try anything.
Huckleberries are my favorite, that being said I really would try anything.

In [66]:
fruits

['Apples',
 'Banannas',
 'Cherries',
 'Durian',
 'Elderberries',
 'Figs',
 'Gooseberies',
 'Huckleberries']

In [76]:
for x in range(0,500,45):
  print(x/15)

0.0
3.0
6.0
9.0
12.0
15.0
18.0
21.0
24.0
27.0
30.0
33.0

In [78]:
numbers = list(range(21,1,-1))
print(numbers)

[21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2]

In [85]:
print(len(numbers))
print(min(numbers))
print(max(numbers))

20
2
21

In [87]:
#18/7 what is the remainder? 7*2 =14, so 4
18 % 7

4

In [93]:
for n in numbers:
  if n % 2 == 0:
    print(n)

20
18
16
14
12
10
8
6
4
2

In [98]:
#Identifying if a number in a list is even or odd
l = [1,2,3,4,5,6,7,8,9,10, 23, 5, 6, 87, 98765, 345, 52, 3465, 4123, 454, 90]
for n in l:
  if n % 2 == 0:
    print(n, 'is an even number.')
  #elif n % 2 != 0:
  else:
    print(n, 'is odd and that\'s ok.')

1 is odd and that's ok.
2 is an even number.
3 is odd and that's ok.
4 is an even number.
5 is odd and that's ok.
6 is an even number.
7 is odd and that's ok.
8 is an even number.
9 is odd and that's ok.
10 is an even number.
23 is odd and that's ok.
5 is odd and that's ok.
6 is an even number.
87 is odd and that's ok.
98765 is odd and that's ok.
345 is odd and that's ok.
52 is an even number.
3465 is odd and that's ok.
4123 is odd and that's ok.
454 is an even number.
90 is an even number.

In [99]:
listsum = 0

for num in l:
  listsum = listsum + num

print(listsum)

107470

In [101]:
dy = {'k1': 1, 'k2': 2, 'k3':3, 'k4':4}

for item in dy:
  print(item)

k1
k2
k3
k4

In [103]:
for k,v in dy.items():
  print(k)
  print(v)

k1
1
k2
2
k3
3
k4
4

# While Loops

In [104]:
patient = {'Name': 'Jack', 'Last Name': 'Sparrow', 'MRN': '001234567', 'DOB': '22231845'}

In [105]:
for x,y in patient.items(): #.items will cylce through key value pairs ex: name and Jack
  print('\n key: ' + x)
  print('\n value: ' + y)

 key: Name

 value: Jack

 key: Last Name

 value: Sparrow

 key: MRN

 value: 001234567

 key: DOB

 value: 22231845

In [112]:
friends_ages = {'nick': '30', 'amanda': '34', 'john': '36', 'haley': '26'}
fav_friends = ['nick', 'amanda']

for name in friends_ages.keys():
  print(name.title())

  if name in fav_friends:
    print(f'Hi {name.title()}, I see you\'re {friends_ages[name]}')

Nick
Hi Nick, I see you're 30
Amanda
Hi Amanda, I see you're 34
John
Haley