<a href="https://colab.research.google.com/github/al-josvan/W22---Data-Analytics-Microcredential/blob/main/Python/day7_Data_Wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [9]:
books_df = pd.read_csv('https://raw.githubusercontent.com/CunyLaguardiaDataAnalytics/datasets/master/BL-Flickr-Images-Book.csv')

In [10]:
books_df.shape

(8287, 15)

In [11]:
books_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8287 entries, 0 to 8286
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Identifier              8287 non-null   int64
 1   Edition Statement       773 non-null    object
 2   Place of Publication    8287 non-null   object
 3   Date of Publication     8106 non-null   object
 4   Publisher               4092 non-null   object
 5   Title                   8287 non-null   object
 6   Author                  6509 non-null   object
 7   Contributors            8287 non-null   object
 8   Corporate Author        0 non-null      float64
 9   Corporate Contributors  0 non-null      float64
 10  Former owner            1 non-null      object
 11  Engraver                0 non-null      float64
 12  Issuance type           8287 non-null   object
 13  Flickr URL              8287 non-null   object
 14  Shelfmarks              8287 non-null   object
dtypes: float64(3), int64(1), object(11)
memory usage: 971.3+ KB

In [12]:
books_df.columns

Index(['Identifier', 'Edition Statement', 'Place of Publication',
       'Date of Publication', 'Publisher', 'Title', 'Author', 'Contributors',
       'Corporate Author', 'Corporate Contributors', 'Former owner',
       'Engraver', 'Issuance type', 'Flickr URL', 'Shelfmarks'],
      dtype='object')

In [16]:
columns_to_be_dropped = ['Edition Statement', 'Corporate Author', 'Corporate Contributors', 'Former owner', 'Engraver']

In [17]:
type(columns_to_be_dropped)

list

In [18]:
df = books_df.drop(columns_to_be_dropped, axis =1)

In [20]:
df.head()

   Identifier  ...                           Shelfmarks
0         206  ...    British Library HMNTS 12641.b.30.
1         216  ...    British Library HMNTS 12626.cc.2.
2         218  ...    British Library HMNTS 12625.dd.1.
3         472  ...  British Library HMNTS 10369.bbb.15.
4         480  ...     British Library HMNTS 9007.d.28.

[5 rows x 10 columns]

In [21]:
new_df = df.set_index('Identifier')

In [22]:
new_df.head()

                Place of Publication  ...                           Shelfmarks
Identifier                            ...
206                           London  ...    British Library HMNTS 12641.b.30.
216         London; Virtue & Yorston  ...    British Library HMNTS 12626.cc.2.
218                           London  ...    British Library HMNTS 12625.dd.1.
472                           London  ...  British Library HMNTS 10369.bbb.15.
480                           London  ...     British Library HMNTS 9007.d.28.

[5 rows x 9 columns]

In [29]:
new_df['Date of Publication'].str.isnumeric()

Identifier
206        False
216         True
218         True
472         True
480         True
           ...
4158088     True
4158128    False
4159563    False
4159587     True
4160339    False
Name: Date of Publication, Length: 8287, dtype: object

In [32]:
new_df.loc[206]

Place of Publication                                               London
Date of Publication                                           1879 [1878]
Publisher                                                S. Tinsley & Co.
Title                                   Walter Forbes. [A novel.] By A. A
Author                                                              A. A.
Contributors                                              FORBES, Walter.
Issuance type                                                 monographic
Flickr URL              http://www.flickr.com/photos/britishlibrary/ta...
Shelfmarks                              British Library HMNTS 12641.b.30.
Name: 206, dtype: object

In [36]:
regex_val = r'^(\d{4})'

In [37]:
regex_val

'^(\\d{4})'

In [45]:
new_df['Date of Publication'] = new_df['Date of Publication'].str.extract(regex_val, expand= False)

In [46]:
new_df['Date of Publication'].str.isnumeric()

Identifier
206        True
216        True
218        True
472        True
480        True
           ...
4158088    True
4158128    True
4159563     NaN
4159587    True
4160339    True
Name: Date of Publication, Length: 8287, dtype: object

In [47]:
new_df['Date of Publication'].isnull()

Identifier
206        False
216        False
218        False
472        False
480        False
           ...
4158088    False
4158128    False
4159563     True
4159587    False
4160339    False
Name: Date of Publication, Length: 8287, dtype: bool

In [49]:
new_df2 = new_df.set_index('Date of Publication')

In [50]:
new_df2.head()

                         Place of Publication  ...                           Shelfmarks
Date of Publication                            ...
1879                                   London  ...    British Library HMNTS 12641.b.30.
1868                 London; Virtue & Yorston  ...    British Library HMNTS 12626.cc.2.
1869                                   London  ...    British Library HMNTS 12625.dd.1.
1851                                   London  ...  British Library HMNTS 10369.bbb.15.
1857                                   London  ...     British Library HMNTS 9007.d.28.

[5 rows x 8 columns]